#styleGuide{
  .annotation(){
    display: block;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    font-size: 12px;
  }
}
[data-show-tag]{
  &:before{
    #styleGuide > .annotation();
    content: attr(data-tag);
    color: grey;
  }
}
[data-show-styles]{
  &:after{
    #styleGuide > .annotation();
    content: attr(data-styles);
    color: red;
  }
}