<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Style Guide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/style-guide.css">
    </head>
    <body>

      <aside id='sidebar'>
        <i></i>
        <span>Style Guide</span>
        <ul>
        </ul>
      </aside>

      <main>
        <%- yield %>
      </main>

      <script 
        title='prism.js : syntax highlighting' 
        src="js/prism.js">
      </script>

      <script 
        title="lorem ipsum generator" 
        src="js/lorem.js">
      </script>

      <script 
        title="style guide sidebar navigation" 
        src="js/navigation.js">
      </script>

      <script 
        title="style and tag annotations" 
        src="js/annotation.js">
      </script>

      <script 
        title="color palette" 
        src="js/color.palette.js">
      </script>

      <script 
        title="code snippet generator" 
        src="js/code.snippets.js">
      </script>

  </body>
</html>