<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Style Guide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/style-guide.css">
    </head>
    <body>

      <aside id='sidebar'>
        <i></i>
        <span>Style Guide</span>
        <ul>
        </ul>
      </aside>

      <main>
        <%- yield %>
      </main>

      <script title='Prism.js : syntax highlighting' src="js/prism.js"></script>
      <script title="lorem generator" src="js/lorem.js"></script>
      <script title="style guide navigation" src="js/navigation.js"></script>
      <script title="style annotation" src="js/annotation.js"></script>
      <script title="color palette" src="js/color.palette.js"></script>
      <script title="creates code snippets" src="js/code.snippets.js"></script>

  </body>
</html>