<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Style Guide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/style-guide.css">

    </head>
    <body>

      <aside id='sidebar'>
        <ul>
        </ul>
      </aside>

      <main>

        <section id='color-palette'>
          <h2>Color Palette</h2>
          <ul class='color-palette'>
            <li title='#c30' data-name='Red'></li>
            <li title='#f90' data-name='Yellow'></li>
            <li title='#235' data-name='Blue'></li>
          </ul>
        </section>

        <div class='make-snippet'>
          <h1>Wocka wocka wocka</h1>
            <h2>uompo</h2>
        </div>

      </main>

      <script title='Prism.js : syntax highlighting' src="js/prism.js"></script>

      <script title="color palette" src="js/navigation.js"></script>
      <script title="color palette" src="js/color.palette.js"></script>
      <script title="creates code snippets" src="js/code.snippets.js"></script>

  </body>
</html>