<section id='browser-logos'>

  <h2 class='docs'>Browser Logos</h2>
  <p class='major'>The style guide includes the major browser logos to help efficiently communicate browser support info.</p>

  <div class='make-snippet'>
  
    <h5>Supported Browsers</h5>
    <div class='browsers'>
      <div class='chrome'></div>
      <div class='canary'></div>
      <div class='firefox'></div>
      <div class='safari'></div>
      <div class='ios'></div>
      <div class='opera'></div>
      <div class='ie'></div>
    </div>

  </div>

</section>  

